@import "./screen";
image {
    display: block;
}

.bg-silver-softh {
    text-align: justify;
    background: rgb(128, 172, 255);
}

.max-content {
    width: max-content;
}

.padding-2-0 {
    padding: 2em 0em
}

.padding-1-0 {
    padding: 1em 0em
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.vertical-center {
    align-items: center;
}

.cursr-pointer {
    cursor: pointer;
}

.position-rigth {
    margin: auto;
    margin-right: 0em;
}

.cover-index-image {
    width: 100%;
    border-radius: 1em;
    margin: 0em;
}

.widgeth-ul {
    box-sizing: border-box;
    padding: 2em 0em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.widgeth-li {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    background: rgb(195, 208, 216);
    font-size: 1em;
    text-align: center;
    box-sizing: border-box;
    padding: 1em .6em;
    transition: all .3s linear;
    font-weight: 500;
    line-height: normal;
    &:hover {
        background: rgb(177, 225, 255);
    }
    @include tablet {
        padding: 1em 1.2em;
    }
}

.widgeth-li-active {
    background: rgb(177, 225, 255);
}

table {
    position: relative;
    width: 100%;
}

tr {
    transition: all .3s linear;
    &:hover {
        background: yellow;
    }
}

th, td {
    box-sizing: border-box;
    padding: 1em 0em;
}

.card-profile {
    background: darkslategrey;
    color: white;
}

.bg-green-soft {
    background: rgb(164, 250, 164);
}

.form-search {
    background: chartreuse;
}
